<!DOCTYPE html>
<html>
  <head>
    <title>ChessClubAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav-brand">
      <%= image_tag 'logo.png', alt: 'Chess Club Logo', class: 'logo'%>
      </div>
      
      <div class="nav-links">
      <%= link_to 'Leaderboard', leaderboard_path, class: "nav-link #{current_page?(leaderboard_path) ? 'active' : ''}" %>
      <%= link_to 'Admin', members_path, class: "nav-link #{current_page?(members_path) ? 'active' : ''}" %>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
